@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.card-img-top {
	border-radius: 50%;
	height: 210px !important;
	object-fit: cover;
	width: 210px !important;
}
.owl-dot {
  display: none !important;
}
.owl-dot.active {
  display: none !important;
}
.owl-nav {
  position: absolute;
  top: -33px;
  right: 0;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: #eae5e585;
  color: inherit;
  border: none;
  padding: 10px 20px !important;
  font: inherit;
  font-weight: 100 !important;
}
.owl-carousel .owl-nav button.owl-next {
  background-color: #14acf1;
}
.owl-carousel.owl-theme.owl-loaded.owl-drag {
  padding-top: 80px !important;
}
.single-staff-item {
  text-align: left;
}
.card-body {
  padding: 0 !important;
}
.staff-meta {
  padding-top: 1.5rem;
}
.staff-meta h2 {
  font-size: 1.7rem;
}
.staff-meta p {
  color: #807676;
}
.section-title h2 {
  text-transform: uppercase;
  position: relative;
}

.section-title h2::after {
  width: 50px;
  height: 4px;
  content: "";
  background: #14acf1;
  left: 0px;
  top: 55px;
  position: absolute;
}
.section-title {
  padding-top: 80px;
}
.section-title p {
  padding-top: 20px;
}
